@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500&family=Turret+Road:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;

  --card-col: rgba(200, 200, 200, 0.2);
  --title-col: #000;
  /*rgb(82, 30, 91);*/
  --contrast-col: #21918c;
  --bg: #fff;
  /*--the-gradient: linear-gradient(90deg, rgba(178, 4, 87, 1) 0%, rgba(1, 18, 134, 1) 50%, rgba(55, 139, 167, 1) 100%);*/

  --font-title: 'Turret Road';
  --font-p: 'Bai Jamjuree';

  overflow-x: hidden;
}

.full {
  text-align: center;
  justify-content: center;
  backdrop-filter: blur(100px);
}

.anim {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}

.anim svg {
  height: 100vh;
}

.anim path {
  stroke-width: 25;
}

.header {
  backdrop-filter: blur(10px);
  position: relative;
  top: 0%;
  text-align: left;
  padding: 3%;
  width: fit-content;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--title-col);
}

.header img {
  filter: brightness(0);
  margin-bottom: 10px;
  user-select: none;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

.button-54:hover {
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  box-shadow: 0px 0px 0px 0px;
}

.light-bg {
  backdrop-filter: blur(100px);
  color: black;
}

iframe {
  width: 60vw;
  height: 31.665vw;
}

.header p {
  font-family: var(--font-p);
  font-size: 2rem;
  text-align: center;
}

.header div {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
  padding: 40px;
  border-radius: 30px;
}

h1,
h2,
h3 {
  margin: 0px;
}

p {
  line-height: 25px;
  text-align: justify;
  font-family: var(--font-p);
}

h1 {
  font-size: 4.5rem;
  font-family: var(--font-title);
}

h2 {
  font-size: 2.5rem;
  font-family: var(--font-title);
}

h3 {
  font-size: 2rem;
  font-family: var(--font-title);
}

.btn_dark_link {
  color: black;
  text-decoration: none;
}

.btn_dark_link:link {
  color: black;
  text-decoration: none;
}

.btn_dark_link:visited {
  color: black;
  text-decoration: none;
}

.btn_dark_link:hover {
  color: black;
  text-decoration: none;
}

.btn_light_link {
  color: white;
  text-decoration: none;
}

.btn_light_link:link {
  color: white;
  text-decoration: none;
}

.btn_light_link:visited {
  color: white;
  text-decoration: none;
}

.btn_light_link:hover {
  color: white;
  text-decoration: none;
}

.btn_contrast_link {
  color: var(--contrast-col);
}

.btn_contrast_link:link {
  color: var(--contrast-col);
}

.btn_contrast_link:visited {
  color: var(--contrast-col);
}

.btn_contrast_link:hover {
  color: var(--contrast-col);
}

/*.btn {
  padding: 10px;
  text-decoration: none;
  font-family: var(--font-p);
  background-color: transparent;
  border-width: 5px;
  border-style: solid;
  border-image: var(--the-gradient) 1;
  font-size: 1em;
}*/

.btn {
  padding: 14px;
  text-decoration: none;
  background-color: var(--contrast-col);
  color: white;
  font-weight: normal;
  font-family: var(--font-p);
  border-radius: 10px;
  border: solid 0px;
  box-shadow: 5px 5px darkgrey;

  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  cursor: pointer;
  transform: translate(5px, 5px) !important;
  box-shadow: 0px 0px;
}

.header a {
  z-index: 1000;
}

/***
  LAYOUT ELEMENTS
***/
.cols3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;

  padding: 50px 100px 50px 100px;
}

.cols2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  padding: 50px 100px 50px 100px;
}

.fullwidth-small {
  display: flex;
  justify-content: center;

  padding: 0 100px 0 100px;
}

.fullwidth-small p {
  text-align: center;
}

.fullwidth {
  display: flex;
  justify-content: center;

  padding: 50px 100px 50px 100px;
}

.fullwidth-with-title {
  text-align: center !important;
  padding: 50px 100px 50px 100px;
}

.fullwidth-with-title p {
  text-align: center !important;
  font-size: 1.2em !important;
  margin: 20px;
}

/***
  STYLED CONTAINERS
***/

.card {
  border-radius: 10px;
  padding: 20px;

  background-color: var(--card-col);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h3 {
  font-family: var(--font-title);
  text-align: center;
  font-size: 2em;
  margin-top: 5px;
  margin-top: 0px;
  font-weight: bold;
}

.card p {
  font-family: var(--font-p);
  font-size: 1.2em;
  text-align: justify;
}

.card li {
  font-family: var(--font-p);
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 15px;
}

.card a {
  color: var(--contrast-col);
}

.callout-with-image a {
  color: var(--contrast-col);
}

.no-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.list {
  padding-inline-start: 20px;
}


.callout {
  padding-top: 30px;
  width: 50vw;
}

.callout-with-image {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 40px;

  padding: 20px;
  border-radius: 10px;
  width: 50vw;

  /*background-color: var(--card-col);*/
}

.callout-with-image img {
  max-width: 100%;
}

.callout h3,
.callout-with-image h3 {
  font-family: var(--font-title);
  font-size: 2.8em;
  margin: 0px;
}

.callout p,
.callout-with-image p {
  font-family: var(--font-p);
  font-size: 1.2em;
}

.sponsors-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors-container img {
  max-height: 200px;
  margin: 0 20px;
}

.header .btn {
  font-size: 20px !important;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group .btn {
  margin: 10px 10px;
}

.legal {
  font-family: var(--font-p);
  margin: 5%;
}

.legal a {
  color: var(--contrast-col);
}

.gdpr {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
}

.gdpr td {
  padding: 5px;
}

.footer {
  font-family: var(--font-p);
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}

.scalable-img {
  height: 90vh;
}

@media only screen and (max-width: 1000px) {

  .header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header img {
    width: 150px;
  }

  .header p {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .cols3,
  .cols2 {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fullwidth,
  .fullwidth-with-title,
  .cols2,
  .cols3 {
    padding: 40px 20px 40px 20px;
  }

  .callout-with-image,
  .callout,
  .card {
    width: 80vw;
  }

  .callout-with-image h3,
  .callout h3 {
    font-size: 2.5em;
  }

  .callout-with-image p,
  .callout p {
    font-size: 1.2em;
    line-height: 25px;
  }

  .callout-with-image {
    grid-template-columns: 1fr;
  }

  .callout-with-image:first-child {
    text-align: center;
  }

  .callout-with-image img {
    max-width: 40vw;
  }

  .sponsors-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
  }

  .sponsors-container img {
    margin: 20px 0;
  }

  .big-sponsors img {
    width: 80vw;
    height: auto;
  }

  body,
  html {
    width: 100vw !important;
    overflow-x: hidden;
    position: relative;
  }

  .light-bg {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.7);
  }

  iframe {
    width: 90vw;
    height: 47.498vw;
  }
}